footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.App-footer p {
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.hr-footer {
  position: fixed;
  width: 100%;
  border: 0.1rem solid #e11d3f;
  bottom: 90px;
}
